*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'sans-serif';
}

header {
    background-image: url('../images/cover.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 150px;
    position: relative;
}

.overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    right: 0;
    bottom: 0;
    padding: 0 !important;
    margin: 0 !important;
    background-color: rgba(10, 10, 10, 0.3);
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 60px 0 60px;
}

nav li{
    list-style: none;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}

nav li span{
    padding-left: 5px;
}

li a {
    padding: 5px;
    background-color: #fff;
    text-decoration: none;
}

.cart ion-icon {
    vertical-align: bottom;
    font-size: 20px;
    padding-left: 5px;
}
.cart a {
    background-color: royalblue;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.container,
.books-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;
}

.image {
    margin-right: 30px;
    margin-left: 20px;
    position: relative;
    overflow: hidden;
    
}

.add-cart {
    position: absolute;
    width: 100%;
    background-color: darkgray;
    transition: all 0.3 ease-in-out;
    opacity: 0;
    cursor: pointer;
    text-align: center;
}

.image:hover .cart1,
.image:hover .cart2,
.image:hover .cart3,
.image:hover .cart4,
.image:hover .cart5{
    bottom: 50px;
    opacity: 1;
    padding: 10px;
    text-decoration: none;
}
h2 {
    color: #fff;
}

/* ------------- Cart Page ---------------- */

.books-container{
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}

.books-container ion-icon{
    font-size: 25px;
    color: blue;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.books-header{
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgray;
    margin: 0 auto;
}

.books-list{
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
}

.books-title{
    width: 45%;
}

.books-title-list{
    width: 45%;   
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-bottom: 4px solid lightgray;
}

.price{
    width: 15%;
    display: flex;
    align-items: center;
}

.price-list{
    width: 15%;
    display: flex;
    align-items: center;
    border-bottom: 4px solid lightgray;
}

.quantity{
    width: 30%;
    display: flex;
    align-items: center;
}

.quantity-list{
    width: 30%;
    display: flex;
    align-items: center;
    border-bottom: 4px solid lightgray;

}

.total{
    width: 10%;
    display: flex;
    align-items: center;
}

.total-list{
    width: 10%;
    display: flex;
    align-items: center;
    border-bottom: 4px solid lightgray;

}

.books{
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
}

.book{
    width: 45%;   
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-bottom: 4px solid lightgray;
}

.totalContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}

.basketTotalContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}

.basketTotalTile {
    width: 30%;
}

.quantity-input{
    width: 25%;
}

.refresh {
    background-color: royalblue;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.refresh {
	background-color:#7892c2;
	border-radius:28px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:10px;
	padding:5px 15px;
    text-decoration:none;
    margin-left: 4px;
	text-shadow:0px 1px 0px #283966;
}

.checkoutContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}